<script setup lang="ts">

import { ref } from "vue";
import { useFormInfo } from '../stores/formInfo'
const storeFormInfo = useFormInfo().getFormInfo;
const { selectedPackage, totalPremium, contactdetails } = storeFormInfo;

</script>
<template>
    <div class="selected-package">
        <div class="selected-package__title"> Selected package</div>
        <ul>
            <li>Basic insurance: {{ selectedPackage.basicIns }}</li>
            <li>Deductable: {{ selectedPackage.deductable }}</li>
            <li>Additional Insurance: {{ selectedPackage.additIns }}</li>
            <li>Dental Insurance: {{ selectedPackage.dentalIns }}</li>

        </ul>
    </div>
    <div class="total-premium">
        <div class="total-premium__title"> Total premium</div>
        <ul>
            <li>Payment term: {{ totalPremium.paymentTerm }}</li>
            <li>Total premium: {{ totalPremium.totalPremium }}</li>
        </ul>
    </div>


    <div class="contact-details">
        <div class="tcontact__details"> Contact details</div>
        <ul>
            <li>Name: {{ contactdetails.name }}</li>
            <li>Sex: {{ contactdetails.sex }}</li>
            <li>Date of birth: {{ contactdetails.dob }}</li>
            <li>BSN: {{ contactdetails.bsn }}</li>

        </ul>
    </div>
</template>

<style></style>
