<script setup lang="ts">
import { ref, defineProps, defineEmits } from 'vue';

import useFormElementEmit from '../composables/useFormElementEmit.ts';
const props = defineProps({
    label: {
        type: String,
        required: true
    },
    value: {
        type: String,
        default: ''
    },
    idValue: {
        type: String,
        default: ''
    },
    modelValue: {
        type: String
    }
});
const emit = defineEmits(['update:modelValue']);
const { updateValue } = useFormElementEmit(event, emit, props);
</script>

<template>
    <label v-if="label" :for="idValue">
        {{ label }}
    </label>
    <input
        class="input-group form-control rounded-6"
        type="date"
        v-bind="{
            ...$attrs,
            onInput: updateValue
        }"
        :id="idValue"
        :value="modelValue"
        :placeholder="label"
    />
</template>
