<script setup lang="ts">
import { ref } from 'vue';
import useFormElementEmit from '../composables/useFormElementEmit.ts'


const props = defineProps({
    options: {
        type: Array,
        required: true
    },
    labelValue: {
        type: String,
        default: '',
    },
    idValue: {
        type: String,
        default: '',
    },
    modelValue: {
        type: String,
    }
});
const emit = defineEmits(['update:modelValue'])
const selectedOption = ref(null);
const { updateValue } = useFormElementEmit(event, emit, props);

</script>
<template>
    <label v-if="labelValue" :id="`${idValue}-label`" :for="`${idValue}-select`" class="input__title">
        {{ labelValue }}
    </label>
    <div class="input__group">
        <select class="form-control form-select" :id="`${idValue}-select`" :value="modelValue" @change="updateValue($event)">
            <span class="visually-hidden">Select Option</span>
            <option class="input__group-option" :selected="modelValue" v-for="(option, index) in options" :key="index">
                {{ option }}
            </option>
        </select>
    </div>
</template>
<style scoped>

</style>


