<script setup lang="ts">
import { ref, defineProps, defineEmits } from 'vue';

const props = defineProps({
    id: {
        type: [String, Number],
        required: true
      },
  
});
const emit = defineEmits(['update:modelValue'])

</script>

<template>
    <p
      aria-live="assertive"
      class="errorMessage"
      :id="id"
    >
      <slot />
    </p>
  </template>
  
 