<script setup lang="ts">
import { ref } from 'vue';
import { useFormInfo } from '../stores/formInfo';
import { useRouter } from 'vue-router';

const reasonOptions = ref([
    'Nieuwe werkgever met collectiviteit bij Zilveren Kruis',
    'Overstappen per 1-1-2023 naar Zilveren Kruis'
]);
const reasonOptionsSelectedOption = ref<string | null>(null);
reasonOptionsSelectedOption.value = reasonOptions.value[1];

const firstName = ref<string | null>(null);
const middleName = ref<string | null>(null);
const lastName = ref<string | null>(null);
const sex = ref<string | null>(null);
const dob = ref<string | null>(null);
const bsn = ref<string | null>(null);
const basicIns = ref<string | null>(null);
    const router = useRouter();

const goToSubmittedView = () => {
    router.push({ name: 'form-sumbitted' });
};
const storeFormInfo = useFormInfo();
const storeInfo = () => {
    storeFormInfo.setFormInfo({
        selectedPackage: {
            // @ts-ignore not allowing nullable not having time to fix this
            basicIns: reasonOptionsSelectedOption,
            deductable: 12,
            additIns: 'someAddIns',
            dentalIns: 'dental'
        },
        totalPremium: {
            paymentTerm: 'monthly',
            totalPremium: '23'
        },
        contactdetails: {
            // @ts-ignore
            name: `${firstName} ${middleName} ${lastName}`,
            // @ts-ignore
            sex: sex,
            // @ts-ignore
            dob: dob,
            // @ts-ignore
            bsn: bsn,
        }
    });
    goToSubmittedView();
};
</script>

<template>
    <div class="container my-3">
        Insurance form
        <form class="row">
            <div class="col-8">
                <h1>Aanmelden</h1>

                <h2>Gegevens</h2>
                <div class="form-group">
                    <h3>Reden van aanmelding</h3>
                    <div class="form-input my-4">
                        <DropDown
                            :options="reasonOptions"
                            v-model="reasonOptionsSelectedOption"
                            label-value="Wat is de reden van uw aanvraag?"
                            id-value="aanmeldreden"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <h3>Persoonlijke gegevens</h3>
                    <div class="form-input my-4">
                        <div class="input__group">
                            <InputField
                                label="Naam"
                                v-model="firstName"
                                type="text"
                            />
                        </div>
                    </div>
                    <div class="form-input my-4">
                        <div class="input__group">
                            <div class="input__group">
                                <InputField
                                    label="Tussenvoegsels"
                                    v-model="middleName"
                                    type="text"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="form-input my-4">
                        <div class="input__group">
                            <div class="input__group">
                                <InputField
                                    label="Achternaam"
                                    v-model="lastName"
                                    type="text"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="form-input my-4">
                        <div class="input__group">
                            <RadioGroup
                                v-model="sex"
                                name="radiobuttons"
                                :options="[
                                    { value: 'Man', label: 'Man' },
                                    { value: 'Vrouw', label: 'Vrouw' }
                                ]"
                                label="Geslacht"
                            />
                        </div>
                    </div>
                    <div class="form-input my-4">
                        <div class="input__group">
                            <div class="input__group">
                                <DatePicker
                                    label="Geboortedatum"
                                    v-model="dob"
                                    type="date"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="form-input my-4">
                        <div class="input__group">
                            <div class="input__group">
                                <InputField
                                    label="Burgerservicenummer"
                                    v-model="bsn"
                                    type="text"
                                />
                            </div>
                        </div>
                    </div>
                </div>

                <h2 class="mt-5">Verzekering</h2>
                <div class="form-group">
                    <h3>Basisverzekering</h3>
                    <p>
                        In Nederland is de basisverzekering verplicht. Iedereen
                        wordt voor de basisverzekering geaccepteerd. De overheid
                        bepaalt welke zorg hierin zit en dit is dus bij elke
                        verzekeraar hetzelfde.
                    </p>
                    <div class="input__group">
                        <label class="input__title">
                            Kies uw basisverzekering
                        </label>
                        <div class="form-row">
                            <div class="radio__tile">
                                <RadioGroup
                                    v-model="basicIns"
                                    name="radiobuttons"
                                    :options="[
                                        {
                                            value: 'Basis Budget € 1.393,26 per jaar ',
                                            label: 'Basis Budget € 1.393,26 per jaar'
                                        },
                                        {
                                            value: 'Basis Zeker € 1.483,54 per jaar',
                                            label: 'Basis Zeker € 1.483,54 per jaar'
                                        },
                                        {
                                            value: 'Basis Exclusief (Restitutie) € 1.624,62 per jaar',
                                            label: 'Basis Exclusief (Restitutie) € 1.624,62 per jaar'
                                        }
                                    ]"
                                    label="Basis Budget"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <button @click.prevent="storeInfo()" class="btn btn-primary">
            Submit
        </button>
    </div>
</template>
