<script setup lang="ts">
import { ref } from 'vue';

const props = defineProps({
    label: {
        type: String,
        required: true
    },
    modelValue: {
        type: [String, Number],
        required: true
    },
    options: {
        type: Array,
        required: true
    },
    name: {
        type: String,
        required: true
    }
});
</script>

<template>
    <label class="input__title"> {{ label }}</label>
    <div class="d-flex">
        <div v-for="option in options" :key="option.value" class="mr-2">
            <RadioButton
                :key="option.value"
                :name="name"
                :label="option.label"
                :modelValue="modelValue"
                :value="option.value"
                @update:modelValue="$emit('update:modelValue', $event)"
            />
        </div>
    </div>
</template>
