<script setup lang="ts">
import { ref, defineProps, defineEmits } from 'vue';

import useFormElementEmit from '../composables/useFormElementEmit.ts';
const props = defineProps({
    label: {
        type: String,
        required: true
    },
    value: {
        type: String,
        default: ''
    },
    idValue: {
        type: String,
        default: ''
    },
    modelValue: {
        type: String
    }
});
const emit = defineEmits(['update:modelValue']);
const { updateValue } = useFormElementEmit(event, emit, props);
</script>

<template>
    <div class="form-row">
        <input
            type="radio"
            @change="updateValue($event)"
            :checked="modelValue === value"
            :id="idValue"
        />
        <label v-if="label" :for="idValue">
            {{ label }}
        </label>
    </div>
</template>
