<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
</script>

<template>
    <div id="app" class="main-placeholder">
        <!-- HEADER -->
        <TopNavBar />

        <!-- CONTENT HERE -->
        <RouterView />

        <!-- FOOTER -->
        <Footer />
    </div>
</template>
